/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 750px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px; /* Adjust the spacing between list items */
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: black; /* Change the color as needed */
}

.navbar ul li a:hover{
  background-color: #495E57;
  color: white;
  border-radius: 5px;
}

/* main */
.hero {
  background-color: #495E57;
}
